<ion-view view-title="Customer Information" ng-controller="infoCtrl">
  <ion-content class="has-header has-footer">
    <div class="list card">
      <div class="item item-body">
        <p>
          Qualification address indicates: <br />
          {{data.addr.street}},<br />{{data.addr.city}}, {{data.addr.state}}<br />{{data.addr.postal}}
        </p>
        <p>
          <span ng-bind="qual"></span><br />
          <span ng-bind="data.qual.los"></span>
        </p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        <span>Edit Customer Info</span>
      </div>
      <form ng-submit="enterInfo()">
        <div class="item item-body">
          <ul class="list">
            <li class="row">
              <div class="col item-input">
                <input ng-model="data.cust.fname" type="text" placeholder="First Name">
              </div>
              <div class="col item-input">
                <input ng-model="data.cust.lname" type="text" placeholder="Last Name">
              </div>
            </li>
            <li class="item item-input">
              <input ng-model="data.cust.phone" type="tel" placeholder="Phone">
            </li>
            <li class="item item-input">
              <input ng-model="data.cust.email" type="email" placeholder="Email">
            </li>
            <li class="item item-text-wrap">
              {{data.plans.join(', ')}} with an initial install date on {{data.date | date: 'MM/dd/yyyy'}}.
            </li>
            <li class="item item-input">
              <textarea ng-model="data.cust.notes" rows="5" placeholder="Additional notes"></textarea>
            </li>
          </ul>
          <input type="submit" class="button button-block button-positive" value="Submit">
        </div>
      </form>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-dark">
    <a ng-click="reGeo()" class="button button-icon icon">Restart</a>
    <a ng-click="reQual()" class="button button-icon icon">Results</a>
  </ion-footer-bar>
</ion-view>
