<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-assertive">
      <h1 class="title">Options</h1>
    </header>
    <ion-content class="has-header has-subheader">
      <ion-list>
        <ion-toggle ng-show="$state.is('app.map')" ng-model="roaming.value" toggle-class="toggle-calm">Roaming</ion-toggle>
        <ion-item nav-clear menu-close ng-click="resetId()" ng-href="#/app/map">
          New Lead
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
