<ion-view view-title="Qualification Results" ng-controller="qualCtrl">
  <ion-content class="has-header has-footer">
    <div class="list card">
      <div class="item item-body">
        <p>
          Qualification address indicates: <br />
          {{data.addr.street}},<br />{{data.addr.city}}, {{data.addr.state}}<br />{{data.addr.postal}}
        </p>
        <p>
          <span ng-bind="qual"></span><br />
          <span ng-bind="data.qual.los"></span>
        </p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        <span>Edit Address</span>
      </div>
      <form ng-submit="updateInfo()">
        <div class="item item-body">
          <ul class="list">
            <li class="item item-input">
              <input ng-model="data.addr.street" type="text" placeholder="Street">
            </li>
            <li class="row">
              <div class="col item-input">
                <input ng-model="data.addr.city" type="text" placeholder="City">
              </div>
              <div class="col-25 item-input">
                <input ng-model="data.addr.state" type="text" placeholder="State">
              </div>
              <div class="col-33 item-input">
                <input ng-model="data.addr.postal" type="text" placeholder="Zip">
              </div>
            </li>
            <li class="item item-input">
              <input ng-model="data.date" type="date" min="{{minDate}}" placeholder="Start Date">
            </li>
            <li class="item item-input item-select">
              <div class="input-label">
                Plan
              </div>
              <select ng-model="data.plans" ng-options="plan for plan in data.qual.levels track by plan" multiple="true"> </select>
            </li>
          </ul>
          <!-- <input type="submit" ng-show="qualified" class="button button-block button-positive" value="Confirm"> -->
          <input type="submit" class="button button-block button-positive" value="Confirm">
        </div>
      </form>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-dark">
    <a ng-click="reGeo()" class="button button-icon icon">Restart</a>
  </ion-footer-bar>
</ion-view>
