<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <script src="js/bundle.js"></script>
    <script>var geomagnetism = require('geomagnetism');</script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/tower_ctrl.js"></script>
    <script src="js/map_ctrl.js"></script>
    <script src="js/qual_ctrl.js"></script>
    <script src="js/info_ctrl.js"></script>
    <script src="js/review_ctrl.js"></script>
    <script src="js/directives.js"></script>
  </head>

  <body ng-app="starter" ng-controller="mainCtrl">

    <ion-side-menus enable-menu-with-back-views="true">
      <ion-side-menu side="left">
        <header class="bar bar-header bar-assertive">
          <h1 class="title">Options</h1>
        </header>
        <subheader class="bar bar-subheader">
          Logged in as: guest
        </subheader>
        <ion-content class="has-header has-subheader">
          <ion-list>
            <ion-toggle ng-show="$state.is('map')" ng-model="roaming.value" toggle-class="toggle-calm">Roaming</ion-toggle>
            <ion-item nav-clear menu-close ng-click="resetId()" ng-href="#/map">
              New Lead
            </ion-item>
            <ion-item nav-clear menu-close href="#/tower">
              Find Tower
            </ion-item>
            <ion-item nav-clear menu-close href="#/login">
              Log In
            </ion-item>
            <ion-item nav-clear menu-close ng-click="selfieTime()">
              First Let Me Take a Selfie
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
      <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
          <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content>
    </ion-side-menus>

  </body>
</html>
